.section {
    width: 100%;
    height: 45rem;
    background-color: #F9FDFF;
    padding-top: 7rem;
}

.box {
    padding-left: 8%;
    height: 95%;
    width: 92%;
    margin: 0 auto;
    display: flex;
    gap: 2.75rem;
    font-family: "Inter", sans-serif;
}

.left {
    width: 50%;
    height: 100%;
    position: relative;
}

.img1 {
    height: 32rem;
    width: 35rem;
    background-image: url("/aboutimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.gd {
    height: 8.5%;
    width: 9%;
    position: absolute;
    left: 85%;
    top: 3.5%;
}

.img2 {
    height: 32.5%;
    width: 38%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1%;
    text-align: center;
    align-items: center;
    gap: 5%;
    justify-content: center;
}

.info h1 {
    font-size: 20px;
}

.info p {
    color: #757575;
    font-size: 14px;
}

.p1 {
    width: 80%;
}

.float {
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 29%;
    box-shadow: 0px 0px 22px #00000038;
    border-radius: 10px;
    background-color: #F9FDFF;
}

.right {
    width: 50%;
    height: 100%;
}

.r1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 16%;
}

.abtu {
    font-size: 20px;
    font-weight: 600;
    color: #204EA5;
}

.abt2 {
    font-size: 35px;
    width: 85%;
}

.r2 {
    margin-top: 8.85%;
    width: 68%;
    height: 30%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.r3 {
    display: flex;
    font-size: 17.5px;
    gap: 2.25rem;
    margin-top: 1.85rem;
}

.but1 {
    line-height: 3.5rem;
    width: 14rem;
    color: white;
    text-align: center;
    border-radius: 8px;
    background-color: #204EA5;
}

.but2 {
    line-height: 3.5rem;
    width: 8rem;
    text-align: center;
    border-radius: 8px;
    color: #204EA5;
    font-weight: 500;
    border: 1.5px solid #204EA5;
}

@media(max-width: 768px) {
    .section {
        height: 90rem;
        padding-top: 2rem;
    }

    .box {
        flex-direction: column-reverse;
        padding-left: 0;
        gap: 1rem;
    }

    .left, .right {
        width: 100%;
        height: 40rem;
    }

    .img1 {
        height: 40rem;
        width: 100%;
        background-size: fill;
    }

    .float {
        top: 82%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 35%;
    }

    .r1, .r2, .r3 {
        width: 90%;
        margin: 0 auto;
    }

    .r1 {
        gap: 1rem;
    }

    .r2 {
        margin-top: 1rem;
        gap: 1rem;
    }

    .r3 {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .but1, .but2 {
        width: 100%;
    }
}
