.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  position: relative;
  background-color: #dbe7ff;
}

.logoContainer {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.logo {
  max-width: 100%;
  height: auto;
}

.leftSide {
  width: 40%;
  background-color: #dbe7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  height: 80vh;
  width: auto;
  padding: 2rem;
  
}

.rightSide {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.formContainer {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.subtitle {
  color: grey;
  margin-bottom: 1rem;
}

.inputGroup {
  position: relative;
  margin-bottom: 0.8rem;
}

.inputGroup input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputGroup input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
  z-index:5;
}

.inputGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 0;
  transition: border-color 0.3s ease;
}

.inputGroup label {
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
  font-size: 1rem;
  color: #666;
  transition: all 0.3s ease;
  pointer-events: none;
  padding: 0 0.25rem;
  background-color: white;
}

.inputGroup input:focus {
  border: 2px solid #367aff;
  outline: none;
  --tw-ring-inset: initial;
}

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label,
.activeLabel {
  transform: translateY(-1.1rem) translateX(-0.2rem);
  font-size: 0.75rem;
  color: #367aff;
  font-weight: 500;
  background-color: white;
}

.activeInput {
  border-color: #367aff;
}

.errorInput {
  border: #f00 2px solid;
  outline: #f00;
}

.errorMessage {
  color: #ff0000;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.inputGroup input.errorInput {
  border-color: #ff0000;
}

.inputGroup input.errorInput:focus {
  border-color: #ff0000;
}

.inputGroup input.errorInput + label {
  color: #ff0000;
}

.dateInputWrapper {
  position: relative;
  cursor: pointer;
}

.dateInputWrapper .calendarIcon {
  right: 0.7rem;
}

.calendarPopover {
  z-index: 10;
}

.datePickerVisible {
  border: 2px solid #367aff;
  border-radius: 4px;
}

.eyeIcon,
.calendarIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.eyeIcon2,
.calendarIcon2 {
  position: absolute;
  right: 10px;
  top: 32%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkboxLabel {
  color: #666;
  font-size: 0.875rem;
  user-select: none;
}

.signInButton:hover {
  background-color: #0041c4;
}

.signInButton {
  width: 100%;
  padding: 0.5rem;
  background-color: #367aff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.orDivider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}

.orDivider::before,
.orDivider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.orDivider span {
  padding: 0 0.5rem;
  color: #666;
}

.googleButton {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  color:Black;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.googleButton:hover {
  background-color: transparent;
  border: 2px solid #000000;
}

.googleButton img {
  margin-left: 0.5rem;
  height: 1rem;
}

.createAccount {
  text-align: center;
  margin-top: 1.5rem;
  color: #666;
}

.createAccount a {
  color: #367aff;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .leftSide {
    width: 50%;
  }

  .rightSide {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    background-color: white;
  }

  .leftSide {
    display: none;
  }

  .rightSide {
    width: 100%;
    height: 100vh;
  }

  .formContainer {
    width: 90%;
    max-width: 400px;
    padding: 2rem;
  }

  .logoContainer {
    top: 0.5rem;
    left: 0.5rem;
  }

  .logo {
    width: 80px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .rightSide {
    height: 100vh;
  }

  .formContainer {
    width: 85%;
  }

  .logoContainer {
    top: 0.25rem;
    left: 0.25rem;
  }

  .logo {
    width: 60px;
    height: auto;
  }
}
