.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 3rem;
  line-height: 0.5;
  font-weight: 400;
}

.highlight {
  color: #204ea5;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:fit-content;
}

.statItem {
  flex: 1;
  min-width: 200px;
  margin: 0.1rem;
}

.statNumber {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.statDescription {
  font-size: 1rem;
  color: #666;
  max-width: 200px;
  margin: 0 auto;
}

.divider {
  width: 1px;
  height: 80px;
  background-color: #ddd;
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.2rem;
    line-height: normal;
  }

  .statsContainer {
    flex-direction: column;
    align-items: center;
  }

  .statItem {
    margin: 2rem 0;
  }

  .divider {
    width: 80px;
    height: 1px;
    margin: 1rem 0;
  }
}
